body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  background-color: lab(96.99% -1.16 0.12);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  gap: 20px;
}

h1 {
  text-align: start;
  color: #074d94;
  margin-bottom: 2rem;
  margin-left: 10px;
}

header {
  grid-column: 1 / span 2;
  grid-row: 1;
  border-bottom: 2px solid #e0e0e0;
}

footer {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  border-top: 1px solid #ddd;
}

nav.side-bar {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #e0e0e0;
}

.main-container {
  grid-column: 2;
  grid-row: 2;
  padding: 20px;
}

.button-container {
  border-bottom: 2px solid #e0e0e0;
  gap: 10px;
}

#project-menu {
  flex-grow: 2;
}

.project,
.all-tasks-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.15s ease, border-left 0.15s ease;
}

.project:hover,
.all-tasks-title:hover {
  background-color: #e0e0e0;
}

.project.active,
.all-tasks-title.active {
  background-color: #bbdbd9;
  font-weight: bold;
  border-left: 5px solid #074d94;
  padding-left: 10px;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.todo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.todo:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.todo-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.project h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priority-high {
  background-color: #ffcccc;
}

.priority-high.todo:hover {
  background-color: #deb1b1;
}

.priority-medium {
  background-color: #fff6cc;
}

.priority-medium.todo:hover {
  background-color: #ded6b1;
}

.priority-low {
  background-color: #ddffcc;
}

.priority-low.todo:hover {
  background-color: #c0deb1;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#add-project,
#add-todo {
  margin: 10px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  background-color: #bbdbd9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#add-project:hover,
#add-todo:hover {
  background-color: #99c7c3;
}

.delete-button,
.edit-button {
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 1000;
  color: #160f0f;
  font-size: large;
}

.delete-button:hover,
.edit-button:hover {
  background-color: #16150f;
  color: white;
}

dialog {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  min-width: 400px;
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form section {
  display: flex;
  flex-direction: column;
}

dialog form label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}

dialog form input[type="text"],
dialog form select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
}

dialog form button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

dialog button[type="button"] {
  background-color: #787373;
  color: white;
}

dialog button {
  background-color: #2ecc71;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

dialog form input[type="date"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}